{% extends "base.html" %}

{% block title %}Polls Index{% endblock %}

{% block content %}
  <p>Conference demo...</p>
  {% if latest_question_list %}
    <ul class="list-group">
      {% for question in latest_question_list %}
        <li class="list-group-item mb-2">
          <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-warning mt-4">No polls are available.</div>
  {% endif %}
{% endblock %}
